<h1>
  Weather App
</h1>
<div *ngFor="let location of locations" [class]="locationCSS[location]" class="tempChart">
  <ng-container *ngIf="locationWeatherData[location]">
  <heading>
    <div class="headingText" [innerHTML]="location"></div>
    <div class="weatherIcon">
      <img src="assets/images/icons/{{ locationWeatherData[location].icon }}.png" class="weatherIcon" [alt]="locationWeatherData[location].main" title="locationWeatherData[location].main + ' - ' + locationWeatherData[location].description">
    </div>
    <div class="description" [innerHTML]="locationWeatherData[location].main"></div>
  </heading>
  <div class="content">
    <div class="main" [innerHTML]="locationWeatherData[location].main + ' - ' + locationWeatherData[location].description">
    </div>
    <hr>
    <div [innerHTML]="'<b>Temperature:</b> ' + locationWeatherData[location].temperature + '&#176;C'"></div>
    <div [innerHTML]="'<b>Humidity:</b> ' + locationWeatherData[location].humidity + '%rh'"></div>
    <div [innerHTML]="'<b>Chance of Rain:</b> ' + locationWeatherData[location].chanceOfRain + '%'"></div>
  </div>
  </ng-container>
</div>
