<div class="logoContainer">
  <img src="assets/images/header-vm-logo.lg.png" alt="Virgin Media Logo" title="Virgin Media Logo">
</div>
<h1>
  Weather Around The World
</h1>
<div class="container">
  <!-- Create a loop for the available locations-->
  <div *ngFor="let location of locations" [class]="locationCSS[location]" class="tempChart">
    <!-- Do we have location data yet for this location, if now show the loading template-->
    <ng-container *ngIf="locationWeatherData[location]; else loading">
      <heading>
        <!-- Set the location heading -->
        <div class="headingText" [innerHTML]="location"></div>
        <!-- Add a weather condition icon-->
          <div class="rightAlign">
            <img src="assets/images/icons/{{ locationWeatherData[location].icon }}.png" class="weatherIcon"
                 [alt]="locationWeatherData[location].main"
                 [title]="locationWeatherData[location].main + ' - ' + locationWeatherData[location].description">
          </div>
      </heading>
      <div class="content">
        <!-- Show the required data for this location-->
        <div class="main"
             [innerHTML]="locationWeatherData[location].main + ' - ' + locationWeatherData[location].description">
        </div>
        <hr>
        <div [innerHTML]="'<b>Temperature:</b> ' + locationWeatherData[location].temperature + '&#176;C'"></div>
        <div [innerHTML]="'<b>Humidity:</b> ' + locationWeatherData[location].humidity + '%rh'"></div>
        <div [innerHTML]="'<b>Chance of Rain:</b> ' + locationWeatherData[location].chanceOfRain + '%'"></div>
      </div>
    </ng-container>
  </div>
</div>

<!--The loading template to show while the location is being requested from the API-->
<ng-template #loading>
  <div class="loadingContainer">
    <div class="loadingSpinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ng-template>
